<div class="root">
    <div class="left-side">
        <div class="video-container">
            <div id="selector">
                <div class="dropdown">
                  <button>Server</button>
                  <div class="dropdown-options">
                    <ng-container *ngFor="let item of results; let i=index">
                        <a (click)="selectServer(i)">Server {{ i + 1 }}</a>
                    </ng-container>  
                  </div>
                </div>               
            </div>
            <video id='plyrID' controls playsinline>
                <source [src]="getActiveMagnet()">
            </video>
        </div>
        <!--Max Users are 7-->
        <div class="users-container">
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
            <div class="user">
                <img src="https://www.nicepng.com/png/full/129-1292296_center-city-sign-register-logo.png" class="center">
                <span>Soon</span>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="code-container">
            <div id="code">
                <span id="const">Code: </span>
                <span id="mut">Test</span>
            </div>
        </div>
        <div class="chat-container">
            <span>Soon</span>
        </div>
    </div>
</div>