<div class="home-container">
  <div class="home-hero">
    <h1 class="home-text">
      <span>Welcome</span>
      <br />
    </h1>
    <h1 class="home-text3">
      <span>What is better than free</span>
      <br />
    </h1>
    <button class="home-button button" routerLink='/error'>
      Explore
    </button>
    <a href="https://www.electronjs.org/" class="home-image">
      <img
        alt="image"
        src="../../../assets/icons/discord.png"
      />
    </a>
    <a href="https://angular.io/" class="home-image1">
      <img
        alt="image"
        src="../../../assets/icons/github.png"
      />
    </a>
  </div>
</div>

<router-outlet></router-outlet>